/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    // background-color: #ffffff;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.w-100 {
    width: 100%;
}

.node { stroke: #222; stroke-width: 1.5px; }
.node.categories { fill: #444; }
.node.namedentities { fill: #888; }
.node.keyelements { fill: #BBB; }
.link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }