
<div class="row">
    <!-- <div class="col">
        <ng-container *ngIf="wordChart">
            <div [chart]="wordChart"></div>
        </ng-container>
    </div> -->
    <div class="col"></div>
    
    <div class="col-auto" *ngIf="!isLoaded">
        <mat-spinner></mat-spinner>
    </div>
    <div class="col-auto" *ngIf="isLoaded">
        <ng-container *ngIf="chart">
            <div [chart]="chart"></div>
        </ng-container>
    </div>
    <div class="col"></div>
</div>



<div class="row justify-content-around">
    <mat-card class="col pl-5" [routerLink]="['/oxygensupply']" style="cursor: pointer;">
        <button mat-button>Twitter Intents - Provide/Offer Help</button>
        <img src="../../assets/oxygenCard.png"/>
    </mat-card>
    <div class="col-3"></div>
    <mat-card class="col pl-5" [routerLink]="['/hospital']" style="cursor: pointer;">
        <button mat-button>Twitter Semantic Search</button>
        <img src="../../assets/semanticsearch.png"/>
    </mat-card>
</div>